@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #eeeeee;
	font-family: 'Titillium Web', sans-serif;
}

a{
	text-decoration: none;
	color: #929292;
}

a:hover{
	text-decoration: none;
	color:#44D62C;
}

.rpv-main-body{
	max-width: 1000px;
    height: 550px;
    background-color: #ffffff;
    margin: 17vh auto 0 auto;
    border-radius: 15px;
    box-shadow: 0 3px 3px #0000001f;
}

.rpv-left{
	display: block;
	background-color: #000000;
	border-radius: 15px 0 0 15px;
}

.rpv-after{
		display: none;
	}

.rpv-left img{
	width: 220px;
	display: block;
	margin: 0 auto;
	padding-top: 30px;
}

.rpv-left hr{
	border-color: #5E5E5E;
	margin-top: 400px;
}

.rpv-left .social{
    color: #929292;
    text-align: center;
}

.rpv-left ul{
	list-style: none;
	display: inline;
	font-size: 20px;
}

.rpv-left .social p{
	display: inline;
}

.rpv-left li{
	display: inline;
	padding: 5px;
}

.rpv-right{
	width: 700px;
	height: 100%;
	border-radius: 0 15px 15px 0;
	float: right;
}

.rpv-right .content{
	padding: 88px;
}

.rpv-right .content h1{
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 60px;
	font-weight: bold;
}

.rpv-right .content span{
	font-size: 20px;
	font-weight: bold;
}

.rpv-right input[type="text"]{
	width: 100%;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}

.rpv-right button{
	width: 100%;
	margin-top: 15px;
	padding: 15px;
	font-size: 20px;
	background-color: #A0D697;
	color: #ffffff;
	font-family: "Titillium Web", sans-serif;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 0.3s all;
}

.rpv-right button:hover{
	background-color: #44D62C;
}

.rpv-right button:focus{
	outline: none;
	background-color: #44D62C;
}

.copyright{
	text-align: center;
	padding-top: 60px;
}

@media screen and (max-width: 992px) {
	.rpv-main-body{
		height: auto;
	}

	.rpv-left hr{
		margin-top: 2rem;
	}
	.rpv-left .social{
		padding-bottom: 15px;
	}
	.rpv-left{
		display: none;
		border-radius: 0 0 15px 15px;
	}

	.rpv-after{
		display: block;
	}
}

@media screen and (max-width:768px)  {
	.rpv-right .content {
	     padding: 40px;
	}
}